
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
}
h1 {
    color: #2c3e50;
}
button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}
.question {
    display: none;
}
.result {
    display: none;
    font-weight: bold;
    color: #27ae60;
}
header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
footer {
     #.container {
    background-color: pink;
}
;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 30px;
}

